/.NotNullQuerySpecification.java._trace
/.TrainDerailsOnNextTurnoutQuerySpecification.java._trace
/.TrainDerailsOnTurnoutNextAfterNextQuerySpecification.java._trace
/.TrainHitsAnotherTrainNextAfterNextAfterNextQuerySpecification.java._trace
/.TrainHitsAnotherTrainNextAfterNextQuerySpecification.java._trace
/.TrainHitsAnotherTrainNextQuerySpecification.java._trace
/.TrainsAreTooCloseQuerySpecification.java._trace
/.SafetyPatternsAll.java._trace
/TrainHitsAnotherTrainNextAfterNextQuerySpecification.java
