/* 
    Created on : Sep 12, 2016, 11:05:40 AM
    Author     : zsoltmazlo
*/

/* reset boxmodel */
* {
    margin: 0;
    padding: 0;
    border: none;
    box-sizing: border-box;
}

/* insert roboto as custom font */
@font-face {
    font-family: Canaro;
    src: url('./fonts/Canaro/Rene Bieder - Canaro Thin.otf');
}

html {
    height: 100%;
}

body {
    height: inherit;
    /*background-color: #1e2141;*/
}


#page {
    width: 100%;
    height: inherit;
    display: block;
    margin: 0;
    position: relative;
}

/*
 * tab controls and tab content
 */

#tab-controls {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: inline-block;
    background-color: #FFF;
}

#tab-controls:after {
    clear: both;
}

#tab-controls .tab-control-item {
    display: inline-block;
    float: left;
    padding: 12px 24px;
    margin: 0 3px 0 0;
    color: #FFF;
    background-color: #767676;
    font-family: Canaro;
}

#tab-controls .tab-control-item.active {
    background-color: #1e2141;
}

#tab-content {
    padding-top: 43px;
    width: 100%;
    height: 100%;
    background-color: #FFF;
}

/*
 * layout control tab
 */
#layout-tab {
    width: 100%;
    display: block;
    background-color: #FFF;
    border-top: 3px solid #1e2141;
    height: 100%;
    position: relative;
    overflow: hidden;
}

#layout-tab:after {
    clear: both;
}

#layout-tab #layout-control {
    z-index: 12;
    margin-right: 300px;
    display: block;
}

#layout-tab #layout-control svg {
    width: 100%;
}

#layout-tab #train-control {
    position: absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    display: block;
    height: 100%;
    color: #FFF;
    transition: all 0.5s;
    z-index: 3;
    background-color: #CCC;
}

#layout-tab #train-control.active {
    right: 0;
}

#layout-tab #train-control-button {
    position: absolute;
    right: 0;
    top: 6px;
    background-color: #1e2141;
    color: #FFF;
    display: none;
    width: 60px;
    height: 46px;
    padding: 6px;
    border-radius: 6px 0 0 6px;
    box-shadow: 4px 4px 4px #999;
    cursor: pointer;
    z-index: 2;
    transition: all 0.5s;

    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

#layout-tab #train-control-button.active {
    right: 200px;
}

#layout {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                    not supported by any browser */
}

#layout * {
    cursor: default;
}

#layout .control {
    cursor: pointer;
}

/*
 * devices tab
 */
#devices-tab {
    display: none;
}

/**
 * trains 
 */

.train-container {
    display: block;
    padding: 12px;
    background-color: #1e2141;
}

.train-container h2 {
    margin: 3px 0;
    font-family: Canaro;
    font-weight: normal;
    font-size: 24px;
}

.train-container .train-control-image img {
    width: 100%;
}

.train-container .train-control-speed {
    display: inline-block;
    width: 100%;
    padding: 6px 0 0 0;
}

.train-container .train-control-speed:after {
    clear: both; 
}

.train-container .train-control-speed .train-control-speed-input {
    width: 80%;
    float: left;
}

.train-container .train-control-speed .train-control-speed-input input {
    width: 100%;
}

.train-container .train-control-speed .train-control-speed-indicator {
    width: 20%;
    float: right;
    text-align: right;
    font-family: Canaro;
    font-weight: normal;
    font-size: 24px;
}

/* optimalization for raspberry pi display */
@media only screen and (max-width: 800px) {
    #layout-tab #layout-control {
        margin-right: 0;
    }

    #tab-controls .tab-control-item {
        padding: 6px 6px;
    }

    #tab-content {
        padding-top: 31px;
    }    

    #layout-tab #train-control {
        right: -200px;
        width: 200px;
    }

    #layout-tab #train-control-button {
        display: inline-block;
    }

    .train-container {
        padding: 6px 12px;
    }

    .train-container h2 {
        font-size: 18px;
    }

    .train-container .train-control-image {
        width: 100%;
        text-align: center;
        background-color: #FFF;
    }

    .train-container .train-control-image img {
        width: auto;
        display: inline;
        max-height: 50px;
    }

    .train-container .train-control-speed .train-control-speed-indicator {
        font-size: 18px;
    }
}