/.FooProcessor.java._trace
/.FooQuerySpecification.java._trace
/.JobTaskCorrespondenceProcessor.java._trace
/.JobTaskCorrespondenceQuerySpecification.java._trace
/.ConnectedProcessor.java._trace
/.ConnectedQuerySpecification.java._trace
/.CurrentlyConnectedProcessor.java._trace
/.CurrentlyConnectedQuerySpecification.java._trace
/.ViablePathsProcessor.java._trace
/.ViablePathsQuerySpecification.java._trace
