/.ConnectedProcessor.java._trace
/.ConnectedQuerySpecification.java._trace
/.CurrentlyConnectedProcessor.java._trace
/.CurrentlyConnectedQuerySpecification.java._trace
/.FooProcessor.java._trace
/.FooQuerySpecification.java._trace
/.ViablePathsProcessor.java._trace
/.ViablePathsQuerySpecification.java._trace
/.ThreeConnectedRailRoadPartsProcessor.java._trace
/.ThreeConnectedRailRoadPartsQuerySpecification.java._trace
