

GatewayCodes/StationController/out/*
GatewayCodes/StationController/StationController.iml
GatewayCodes/StationController/.idea/*
GatewayCodes/MoDeS3MobilController/.gradle/
GatewayCodes/MoDeS3MobilController/app/build/