<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.bme.hu/mit/ftsrg/ptregex/RegularExpression" 
       class = "hu.bme.mit.ftsrg.ptregex.regularExpression.RegularExpressionPackage"
       genModel = "model/generated/RegularExpression.genmodel" /> 
	
  </extension>

   <extension
         point="org.eclipse.ui.commands">
      <command
            id="hu.bme.mit.ftsrg.ptregex.compiler"
            name="Compile Regex to Automata">
      </command>
   </extension>
   
      <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.jdt.ui.PackageExplorer">
         <menu
               label="Regular Expression Compilation">
            <command
                  commandId="hu.bme.mit.ftsrg.ptregex.compiler"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="false">
               <with
                     variable="selection">
                  <iterate
                        ifEmpty="false">
                     <adapt
                           type="org.eclipse.core.resources.IFile">
                        <test
                              value="*.ptreg"
                              property="org.eclipse.core.resources.name">
                        </test>
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </menu>
      </menuContribution>
   	</extension>
      <extension
            point="org.eclipse.ui.handlers">
         <handler
               class="hu.bme.mit.ftsrg.ptregex.RegexCompileHandler"
               commandId="hu.bme.mit.ftsrg.ptregex.compiler">
         </handler>
      </extension>


</plugin>
