/.TrainPassedThroughStationRule.java._trace
/.TransferRule.java._trace
/.ThreeTimesMetRule.java._trace
/.MultipleTrainsOnStationRule.java._trace
/MultipleTrainsOnStationRule.java
/ThreeTimesMetRule.java
/TrainPassedThroughStationRule.java
/TransferRule.java
