/.TrainLeftStation_Pattern.java._trace
/.TrainOnStation_Pattern.java._trace
/.MultipleTrainsOnStation_Pattern.java._trace
/.NoMultipleTrainsOnStation_Pattern.java._trace
/.NoTrainOnStation_Pattern.java._trace
/MultipleTrainsOnStation_Pattern.java
/NoMultipleTrainsOnStation_Pattern.java
/NoTrainOnStation_Pattern.java
/TrainLeftStation_Pattern.java
/TrainOnStation_Pattern.java
