/.MultipleTrainsOnStation_Pattern.java._trace
/.NoMultipleTrainsOnStation_Pattern.java._trace
/.NoTrainOnStation_Pattern.java._trace
/.TrainLeftStation_Pattern.java._trace
/.TrainOnStation_Pattern.java._trace
/NoMultipleTrainsOnStation_Pattern.java
