/.PassOverStation_Pattern.java._trace
/.PassThroughStation_Pattern.java._trace
/.ReturnToStation_Pattern.java._trace
/.TrainPassThroughStation_Pattern.java._trace
/.TrainReturnToStation_Pattern.java._trace
