/.SegmentControlHandler.java._trace
/.TrainDirectionControlHandler.java._trace
/.TrainFunctionControlHandler.java._trace
/.TrainReferenceSpeedControlHandler.java._trace
/.TurnoutControlHandler.java._trace
