{
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true,
            "spread": true
        }
    },
    "rules": {
        "semi": ["error", "always"]
    }
}