<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated qea -->
      <package
            uri="http://hu.bme.mit.ftsrg.qea"
            class="qea.QeaPackage"/>
   </extension>

</plugin>
