<?xml version="1.0" encoding="UTF-8"?>
<xmi:XMI xmi:version="2.0" xmlns:xmi="http://www.omg.org/XMI" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:notation="http://www.eclipse.org/gmf/runtime/1.0.2/notation" xmlns:sgraph="http://www.yakindu.org/sct/sgraph/2.0.0">
  <sgraph:Statechart xmi:id="_gFmwIFVoEeast5DdeVZiLw" specification="interface Turnout:&#xA;// The id of the turnout&#xA;var id : integer&#xA;// direction change&#xA;in event turnoutStraight&#xA;in event turnoutDivergent&#xA;&#xA;interface Protocol:&#xA;// reservation request from adjacent sections&#xA;in event reserveFrom: integer&#xA;in event canGoFrom: integer&#xA;in event cannotGoFrom: integer&#xA;// free by adjacent section&#xA;in event releaseFrom: integer&#xA;&#xA;out event reserveTo: integer&#xA;out event canGoTo: integer&#xA;out event cannotGoTo: integer&#xA;out event releaseTo: integer&#xA;&#xA;interface Train:&#xA;// occupy by train&#xA;in event occupy&#xA;// leave by train&#xA;in event unoccupy&#xA;&#xA;interface Direction:&#xA;const TOP: integer = 0&#xA;const STRAIGHT: integer = 1&#xA;const DIVERGENT: integer = 2&#xA;const UNSPECIFIED: integer = 3" name="Turnout">
    <regions xmi:id="_gFn-Q1VoEeast5DdeVZiLw" name="main_region">
      <vertices xsi:type="sgraph:Entry" xmi:id="_gFpMYVVoEeast5DdeVZiLw">
        <outgoingTransitions xmi:id="_WU6EsH2BEeayf-zIFUV4tA" target="_gFpzd1VoEeast5DdeVZiLw"/>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_gFpzd1VoEeast5DdeVZiLw" specification="Protocol.reserveFrom[valueof(Protocol.reserveFrom) == Direction.DIVERGENT] / raise Protocol.cannotGoTo: Direction.DIVERGENT" name="Straight" incomingTransitions="_z4CWsFvoEeamfIYQfRbcvQ _WU6EsH2BEeayf-zIFUV4tA">
        <outgoingTransitions xmi:id="_v-BYMFvoEeamfIYQfRbcvQ" specification="Turnout.turnoutDivergent / &#xD;&#xA;raise Protocol.releaseTo: Direction.TOP; raise Protocol.releaseTo: Direction.DIVERGENT; &#xD;&#xA;raise Protocol.cannotGoTo: Direction.STRAIGHT" target="_EqwicFvoEeamfIYQfRbcvQ"/>
        <regions xmi:id="_NxqMwFVqEeast5DdeVZiLw" name="listening_to_top">
          <vertices xsi:type="sgraph:Entry" xmi:id="_CuK8IFmGEeaZgK6lD15z3g">
            <outgoingTransitions xmi:id="_X5KFsH2BEeayf-zIFUV4tA" specification="" target="_HzLX0FvbEeadwNW-u8Zqwg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_HzLX0FvbEeadwNW-u8Zqwg" specification="" name="Waiting" incomingTransitions="_wYyUgFvbEeadwNW-u8Zqwg _8D7F8FvbEeadwNW-u8Zqwg _X5KFsH2BEeayf-zIFUV4tA">
            <outgoingTransitions xmi:id="_MRVlMFvbEeadwNW-u8Zqwg" specification="Protocol.reserveFrom[valueof(Protocol.reserveFrom) == Direction.TOP] / &#xD;&#xA;raise Protocol.reserveTo: Direction.STRAIGHT" target="_MRR60FvbEeadwNW-u8Zqwg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_MRR60FvbEeadwNW-u8Zqwg" specification="" name="ReservationFromTop" incomingTransitions="_MRVlMFvbEeadwNW-u8Zqwg">
            <outgoingTransitions xmi:id="_wYyUgFvbEeadwNW-u8Zqwg" specification="Protocol.canGoFrom [valueof(Protocol.canGoFrom) == Direction.STRAIGHT] / &#xD;&#xA;raise Protocol.canGoTo: Direction.TOP" target="_HzLX0FvbEeadwNW-u8Zqwg"/>
            <outgoingTransitions xmi:id="_8D7F8FvbEeadwNW-u8Zqwg" specification="Protocol.cannotGoFrom [valueof(Protocol.cannotGoFrom) == Direction.STRAIGHT] / &#xD;&#xA;raise Protocol.cannotGoTo: Direction.TOP" target="_HzLX0FvbEeadwNW-u8Zqwg"/>
          </vertices>
        </regions>
        <regions xmi:id="_4kpYIFvaEeadwNW-u8Zqwg" name="listening_to_straight">
          <vertices xsi:type="sgraph:Entry" xmi:id="_84ImkFvaEeadwNW-u8Zqwg">
            <outgoingTransitions xmi:id="_ZH5JsH2BEeayf-zIFUV4tA" specification="" target="_KpsR8FvbEeadwNW-u8Zqwg"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_KpsR8FvbEeadwNW-u8Zqwg" specification="" name="Waiting" incomingTransitions="_vvcRAFvlEeamfIYQfRbcvQ _wQUwgFvlEeamfIYQfRbcvQ _ZH5JsH2BEeayf-zIFUV4tA">
            <outgoingTransitions xmi:id="_wdowkFvhEeamfIYQfRbcvQ" specification="Protocol.reserveFrom[valueof(Protocol.reserveFrom) == Direction.STRAIGHT] / &#xD;&#xA;raise Protocol.reserveTo: Direction.TOP" target="_wdlGMFvhEeamfIYQfRbcvQ"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_wdlGMFvhEeamfIYQfRbcvQ" specification="" name="ReservationFromStraight" incomingTransitions="_wdowkFvhEeamfIYQfRbcvQ">
            <outgoingTransitions xmi:id="_vvcRAFvlEeamfIYQfRbcvQ" specification="Protocol.canGoFrom [valueof(Protocol.canGoFrom) == Direction.TOP] / &#xD;&#xA;raise Protocol.canGoTo: Direction.STRAIGHT" target="_KpsR8FvbEeadwNW-u8Zqwg"/>
            <outgoingTransitions xmi:id="_wQUwgFvlEeamfIYQfRbcvQ" specification="Protocol.cannotGoFrom [valueof(Protocol.cannotGoFrom) == Direction.TOP] / &#xD;&#xA;raise Protocol.cannotGoTo: Direction.STRAIGHT" target="_KpsR8FvbEeadwNW-u8Zqwg"/>
          </vertices>
        </regions>
        <regions xmi:id="_RsDqQH2BEeayf-zIFUV4tA" name="listening_to_occupy">
          <vertices xsi:type="sgraph:State" xmi:id="_cPP8MH2BEeayf-zIFUV4tA" specification="entry/ &#xD;&#xA;raise Protocol.releaseTo: Direction.STRAIGHT;&#xD;&#xA;raise Protocol.releaseTo: Direction.TOP" name="Free" incomingTransitions="_ep0hMH2BEeayf-zIFUV4tA _iwAeAH2CEeayf-zIFUV4tA">
            <outgoingTransitions xmi:id="_oTLoIH2BEeayf-zIFUV4tA" specification="Train.occupy " target="_nHzaIH2BEeayf-zIFUV4tA"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_d9CTsH2BEeayf-zIFUV4tA">
            <outgoingTransitions xmi:id="_ep0hMH2BEeayf-zIFUV4tA" specification="" target="_cPP8MH2BEeayf-zIFUV4tA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_nHzaIH2BEeayf-zIFUV4tA" specification="entry / &#xD;&#xA;raise Protocol.reserveTo: Direction.STRAIGHT; &#xD;&#xA;raise Protocol.reserveTo: Direction.TOP" name="Occupied" incomingTransitions="_oTLoIH2BEeayf-zIFUV4tA">
            <outgoingTransitions xmi:id="_iwAeAH2CEeayf-zIFUV4tA" specification="Train.unoccupy" target="_cPP8MH2BEeayf-zIFUV4tA"/>
          </vertices>
        </regions>
        <regions xmi:id="_o6IBcH2DEeayf-zIFUV4tA" name="listening_to_release">
          <vertices xsi:type="sgraph:Entry" xmi:id="_sukjcH2DEeayf-zIFUV4tA">
            <outgoingTransitions xmi:id="_vzP1YH2DEeayf-zIFUV4tA" target="_tIRc4H2DEeayf-zIFUV4tA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_tIRc4H2DEeayf-zIFUV4tA" specification="Protocol.releaseFrom[valueof(Protocol.releaseFrom) ==Direction.STRAIGHT] / raise Protocol.releaseTo: Direction.TOP&#xD;&#xA;Protocol.releaseFrom[valueof(Protocol.releaseFrom) ==Direction.TOP] / raise Protocol.releaseTo: Direction.STRAIGHT" name="TransferReleases" incomingTransitions="_vzP1YH2DEeayf-zIFUV4tA"/>
        </regions>
      </vertices>
      <vertices xsi:type="sgraph:State" xmi:id="_EqwicFvoEeamfIYQfRbcvQ" specification="Protocol.reserveFrom[valueof(Protocol.reserveFrom) == Direction.STRAIGHT] / raise Protocol.cannotGoTo: Direction.STRAIGHT" name="Divergent" incomingTransitions="_v-BYMFvoEeamfIYQfRbcvQ">
        <outgoingTransitions xmi:id="_z4CWsFvoEeamfIYQfRbcvQ" specification="Turnout.turnoutStraight/ &#xD;&#xA;raise Protocol.releaseTo: Direction.TOP; raise Protocol.releaseTo: Direction.STRAIGHT; &#xD;&#xA;raise Protocol.cannotGoTo: Direction.DIVERGENT" target="_gFpzd1VoEeast5DdeVZiLw"/>
        <regions xmi:id="_qBxGUH2AEeayf-zIFUV4tA" name="listening_to_top">
          <vertices xsi:type="sgraph:Entry" xmi:id="_qBxGUX2AEeayf-zIFUV4tA">
            <outgoingTransitions xmi:id="_qBxGUn2AEeayf-zIFUV4tA" target="_qBxtYH2AEeayf-zIFUV4tA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_qBxtYH2AEeayf-zIFUV4tA" specification="" name="Waiting" incomingTransitions="_qBxGUn2AEeayf-zIFUV4tA _qBzikX2AEeayf-zIFUV4tA _qB0JoH2AEeayf-zIFUV4tA">
            <outgoingTransitions xmi:id="_qByUcX2AEeayf-zIFUV4tA" specification="Protocol.reserveFrom[valueof(Protocol.reserveFrom) == Direction.TOP] / &#xD;&#xA;raise Protocol.reserveTo: Direction.DIVERGENT" target="_qBy7kX2AEeayf-zIFUV4tA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_qBy7kX2AEeayf-zIFUV4tA" specification="" name="ReservationFromTop" incomingTransitions="_qByUcX2AEeayf-zIFUV4tA">
            <outgoingTransitions xmi:id="_qBzikX2AEeayf-zIFUV4tA" specification="Protocol.canGoFrom [valueof(Protocol.canGoFrom) == Direction.DIVERGENT] / &#xD;&#xA;raise Protocol.canGoTo: Direction.TOP" target="_qBxtYH2AEeayf-zIFUV4tA"/>
            <outgoingTransitions xmi:id="_qB0JoH2AEeayf-zIFUV4tA" specification="Protocol.cannotGoFrom [valueof(Protocol.cannotGoFrom) == Direction.DIVERGENT] / &#xD;&#xA;raise Protocol.cannotGoTo: Direction.TOP" target="_qBxtYH2AEeayf-zIFUV4tA"/>
          </vertices>
        </regions>
        <regions xmi:id="_qB5CIH2AEeayf-zIFUV4tA" name="listening_to_divergent">
          <vertices xsi:type="sgraph:Entry" xmi:id="_qB5CIX2AEeayf-zIFUV4tA">
            <outgoingTransitions xmi:id="_qB5CIn2AEeayf-zIFUV4tA" specification="" target="_qB5pMH2AEeayf-zIFUV4tA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_qB5pMH2AEeayf-zIFUV4tA" specification="" name="Waiting" incomingTransitions="_qB5CIn2AEeayf-zIFUV4tA _qB63Un2AEeayf-zIFUV4tA _qB8FgX2AEeayf-zIFUV4tA">
            <outgoingTransitions xmi:id="_qB6QQX2AEeayf-zIFUV4tA" specification="Protocol.reserveFrom[valueof(Protocol.reserveFrom) == Direction.DIVERGENT] / &#xD;&#xA;raise Protocol.reserveTo: Direction.TOP" target="_qB63UH2AEeayf-zIFUV4tA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_qB63UH2AEeayf-zIFUV4tA" specification="" name="ReservationFromDivergent" incomingTransitions="_qB6QQX2AEeayf-zIFUV4tA">
            <outgoingTransitions xmi:id="_qB63Un2AEeayf-zIFUV4tA" specification="Protocol.canGoFrom [valueof(Protocol.canGoFrom) == Direction.TOP] / &#xD;&#xA;raise Protocol.canGoTo: Direction.DIVERGENT" target="_qB5pMH2AEeayf-zIFUV4tA"/>
            <outgoingTransitions xmi:id="_qB8FgX2AEeayf-zIFUV4tA" specification="Protocol.cannotGoFrom [valueof(Protocol.cannotGoFrom) == Direction.TOP] / &#xD;&#xA;raise Protocol.cannotGoTo: Direction.DIVERGENT" target="_qB5pMH2AEeayf-zIFUV4tA"/>
          </vertices>
        </regions>
        <regions xmi:id="_kUoScH2CEeayf-zIFUV4tA" name="listening_to_occupy">
          <vertices xsi:type="sgraph:State" xmi:id="_kUoScX2CEeayf-zIFUV4tA" specification="entry/ &#xD;&#xA;raise Protocol.releaseTo: Direction.DIVERGENT;&#xD;&#xA;raise Protocol.releaseTo: Direction.TOP" name="Free" incomingTransitions="_kUpglX2CEeayf-zIFUV4tA _kUrVwH2CEeayf-zIFUV4tA">
            <outgoingTransitions xmi:id="_kUo5j32CEeayf-zIFUV4tA" specification="Train.occupy " target="_kUqHoH2CEeayf-zIFUV4tA"/>
          </vertices>
          <vertices xsi:type="sgraph:Entry" xmi:id="_kUpglH2CEeayf-zIFUV4tA">
            <outgoingTransitions xmi:id="_kUpglX2CEeayf-zIFUV4tA" specification="" target="_kUoScX2CEeayf-zIFUV4tA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_kUqHoH2CEeayf-zIFUV4tA" specification="entry / &#xD;&#xA;raise Protocol.reserveTo: Direction.DIVERGENT; &#xD;&#xA;raise Protocol.reserveTo: Direction.TOP" name="Occupied" incomingTransitions="_kUo5j32CEeayf-zIFUV4tA">
            <outgoingTransitions xmi:id="_kUrVwH2CEeayf-zIFUV4tA" specification="Train.unoccupy" target="_kUoScX2CEeayf-zIFUV4tA"/>
          </vertices>
        </regions>
        <regions xmi:id="_92BzoH2DEeayf-zIFUV4tA" name="listening_to_release">
          <vertices xsi:type="sgraph:Entry" xmi:id="_92BzoX2DEeayf-zIFUV4tA">
            <outgoingTransitions xmi:id="_92Bzon2DEeayf-zIFUV4tA" target="_92CasH2DEeayf-zIFUV4tA"/>
          </vertices>
          <vertices xsi:type="sgraph:State" xmi:id="_92CasH2DEeayf-zIFUV4tA" specification="Protocol.releaseFrom[valueof(Protocol.releaseFrom) ==Direction.DIVERGENT] / raise Protocol.releaseTo: Direction.TOP&#xD;&#xA;Protocol.releaseFrom[valueof(Protocol.releaseFrom) ==Direction.TOP] / raise Protocol.releaseTo: Direction.DIVERGENT" name="TransferReleases" incomingTransitions="_92Bzon2DEeayf-zIFUV4tA"/>
        </regions>
      </vertices>
    </regions>
  </sgraph:Statechart>
  <notation:Diagram xmi:id="_gFn-QVVoEeast5DdeVZiLw" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_gFmwIFVoEeast5DdeVZiLw" measurementUnit="Pixel">
    <children xmi:id="_gFn-RFVoEeast5DdeVZiLw" type="Region" element="_gFn-Q1VoEeast5DdeVZiLw">
      <children xsi:type="notation:DecorationNode" xmi:id="_gFolUFVoEeast5DdeVZiLw" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gFolUVVoEeast5DdeVZiLw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gFolUlVoEeast5DdeVZiLw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_gFolU1VoEeast5DdeVZiLw" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_gFpMYlVoEeast5DdeVZiLw" type="Entry" element="_gFpMYVVoEeast5DdeVZiLw">
          <children xmi:id="_gFpzcFVoEeast5DdeVZiLw" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_gFpzc1VoEeast5DdeVZiLw" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_gFpzdFVoEeast5DdeVZiLw"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_gFpzdVVoEeast5DdeVZiLw"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_gFpzcVVoEeast5DdeVZiLw" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gFpzclVoEeast5DdeVZiLw"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_gFpMY1VoEeast5DdeVZiLw" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_gFpMZFVoEeast5DdeVZiLw" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gFpzdlVoEeast5DdeVZiLw" x="37" y="8" width="15" height="15"/>
        </children>
        <children xmi:id="_gFqaglVoEeast5DdeVZiLw" type="State" element="_gFpzd1VoEeast5DdeVZiLw">
          <children xsi:type="notation:DecorationNode" xmi:id="_gFqahlVoEeast5DdeVZiLw" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_gFqah1VoEeast5DdeVZiLw"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_gFqaiFVoEeast5DdeVZiLw"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_gFqaiVVoEeast5DdeVZiLw" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_gFqailVoEeast5DdeVZiLw" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gFqai1VoEeast5DdeVZiLw"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_gFrBkFVoEeast5DdeVZiLw" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_gFqag1VoEeast5DdeVZiLw" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_gFqahFVoEeast5DdeVZiLw"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_gFrBkVVoEeast5DdeVZiLw" name="isHorizontal" booleanValue="true"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="__Sj_4H1_Eeayf-zIFUV4tA" name="isInline"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gFrBklVoEeast5DdeVZiLw" x="109" y="8" width="1026" height="86"/>
        </children>
        <children xmi:id="_EqvUUFvoEeamfIYQfRbcvQ" type="State" element="_EqwicFvoEeamfIYQfRbcvQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_EqvUUVvoEeamfIYQfRbcvQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_EqvUUlvoEeamfIYQfRbcvQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_EqvUU1voEeamfIYQfRbcvQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EqvUVFvoEeamfIYQfRbcvQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_EqvUVVvoEeamfIYQfRbcvQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EqvUVlvoEeamfIYQfRbcvQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_EqvUV1voEeamfIYQfRbcvQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_EqvUrFvoEeamfIYQfRbcvQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_EqvUrVvoEeamfIYQfRbcvQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_EqvUrlvoEeamfIYQfRbcvQ" name="isHorizontal" booleanValue="true"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_apSgcH2AEeayf-zIFUV4tA" name="isInline"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_EqvUr1voEeamfIYQfRbcvQ" x="117" y="328" width="1011" height="96"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gFolVFVoEeast5DdeVZiLw"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_gFn-RVVoEeast5DdeVZiLw" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gFpMYFVoEeast5DdeVZiLw" x="420" width="1381" height="511"/>
    </children>
    <children xsi:type="notation:Shape" xmi:id="_gFrop1VoEeast5DdeVZiLw" type="StatechartText" fontName="Verdana" lineColor="4210752">
      <children xsi:type="notation:DecorationNode" xmi:id="_gFroqVVoEeast5DdeVZiLw" type="StatechartName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_gFroqlVoEeast5DdeVZiLw"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_gFroq1VoEeast5DdeVZiLw"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_gFrorFVoEeast5DdeVZiLw" type="StatechartTextExpression" fontName="Verdana" lineColor="4210752">
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gFrorVVoEeast5DdeVZiLw"/>
      </children>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_gFsPsFVoEeast5DdeVZiLw" x="10" y="10" width="393" height="651"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_gFn-QlVoEeast5DdeVZiLw"/>
    <edges xmi:id="_MRWMQFvbEeadwNW-u8Zqwg" type="Transition" element="_MRVlMFvbEeadwNW-u8Zqwg" source="_HzNNAFvbEeadwNW-u8Zqwg" target="_MRSh4FvbEeadwNW-u8Zqwg">
      <children xsi:type="notation:DecorationNode" xmi:id="_MRWMRFvbEeadwNW-u8Zqwg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_MRWMRVvbEeadwNW-u8Zqwg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_MRWMRlvbEeadwNW-u8Zqwg" x="21" y="-26"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_MRWMQVvbEeadwNW-u8Zqwg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_MRWMQ1vbEeadwNW-u8Zqwg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_MRWMQlvbEeadwNW-u8Zqwg" points="[110, 80, -1094, 89]$[1091, 80, -113, 89]"/>
    </edges>
    <edges xmi:id="_wYy7kFvbEeadwNW-u8Zqwg" type="Transition" element="_wYyUgFvbEeadwNW-u8Zqwg" source="_MRSh4FvbEeadwNW-u8Zqwg" target="_HzNNAFvbEeadwNW-u8Zqwg">
      <children xsi:type="notation:DecorationNode" xmi:id="_wYzioVvbEeadwNW-u8Zqwg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wYziolvbEeadwNW-u8Zqwg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wYzio1vbEeadwNW-u8Zqwg" x="-39" y="32"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wYy7kVvbEeadwNW-u8Zqwg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wYzioFvbEeadwNW-u8Zqwg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wYy7klvbEeadwNW-u8Zqwg" points="[-113, 20, 1027, -1]$[-1094, 20, 46, -1]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wY1-4FvbEeadwNW-u8Zqwg" id="(0.7920792079207921,0.5660377358490566)"/>
    </edges>
    <edges xmi:id="_8D8UEFvbEeadwNW-u8Zqwg" type="Transition" element="_8D7F8FvbEeadwNW-u8Zqwg" source="_MRSh4FvbEeadwNW-u8Zqwg" target="_HzNNAFvbEeadwNW-u8Zqwg">
      <children xsi:type="notation:DecorationNode" xmi:id="_8D8UFFvbEeadwNW-u8Zqwg" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_8D8UFVvbEeadwNW-u8Zqwg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_8D8UFlvbEeadwNW-u8Zqwg" x="-52" y="40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_8D8UEVvbEeadwNW-u8Zqwg" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_8D8UE1vbEeadwNW-u8Zqwg" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_8D8UElvbEeadwNW-u8Zqwg" points="[-50, 2, 1187, -14]$[-1031, 2, 206, -14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8D9iMFvbEeadwNW-u8Zqwg" id="(0.2222222222222222,0.22641509433962265)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_8D9iMVvbEeadwNW-u8Zqwg" id="(0.0594059405940594,0.2830188679245283)"/>
    </edges>
    <edges xmi:id="_wdpXoFvhEeamfIYQfRbcvQ" type="Transition" element="_wdowkFvhEeamfIYQfRbcvQ" source="_HxEeD1vmEeamfIYQfRbcvQ" target="_HxEeG1vmEeamfIYQfRbcvQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_wdp-sFvhEeamfIYQfRbcvQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wdp-sVvhEeamfIYQfRbcvQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wdp-slvhEeamfIYQfRbcvQ" x="-15" y="-33"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wdpXoVvhEeamfIYQfRbcvQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wdpXo1vhEeamfIYQfRbcvQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wdpXolvhEeamfIYQfRbcvQ" points="[138, -72, -913, -60]$[943, -72, -108, -60]"/>
    </edges>
    <edges xmi:id="_vveGMFvlEeamfIYQfRbcvQ" type="Transition" element="_vvcRAFvlEeamfIYQfRbcvQ" source="_HxEeG1vmEeamfIYQfRbcvQ" target="_HxEeD1vmEeamfIYQfRbcvQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_vvetQFvlEeamfIYQfRbcvQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vvetQVvlEeamfIYQfRbcvQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vvetQlvlEeamfIYQfRbcvQ" x="-3" y="41"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vveGMVvlEeamfIYQfRbcvQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vveGM1vlEeamfIYQfRbcvQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vveGMlvlEeamfIYQfRbcvQ" points="[-215, 68, 823, 77]$[-1020, 68, 18, 77]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_D8jqkFvmEeamfIYQfRbcvQ" id="(0.9947089947089947,0.6037735849056604)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_EMBp8FvmEeamfIYQfRbcvQ" id="(0.9361702127659575,0.5070422535211268)"/>
    </edges>
    <edges xmi:id="_wQV-oFvlEeamfIYQfRbcvQ" type="Transition" element="_wQUwgFvlEeamfIYQfRbcvQ" source="_HxEeG1vmEeamfIYQfRbcvQ" target="_HxEeD1vmEeamfIYQfRbcvQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_wQV-pFvlEeamfIYQfRbcvQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_wQV-pVvlEeamfIYQfRbcvQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_wQV-plvlEeamfIYQfRbcvQ" x="-16" y="26"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_wQV-oVvlEeamfIYQfRbcvQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_wQV-o1vlEeamfIYQfRbcvQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_wQV-olvlEeamfIYQfRbcvQ" points="[-27, 34, 1073, -44]$[-832, 34, 268, -44]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wQXMwFvlEeamfIYQfRbcvQ" id="(0.12698412698412698,0.33962264150943394)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_wQXMwVvlEeamfIYQfRbcvQ" id="(0.02553191489361702,0.676056338028169)"/>
    </edges>
    <edges xmi:id="_v-D0cFvoEeamfIYQfRbcvQ" type="Transition" element="_v-BYMFvoEeamfIYQfRbcvQ" source="_gFqaglVoEeast5DdeVZiLw" target="_EqvUUFvoEeamfIYQfRbcvQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_v-D0dFvoEeamfIYQfRbcvQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_v-D0dVvoEeamfIYQfRbcvQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_v-D0dlvoEeamfIYQfRbcvQ" x="-3" y="121"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_v-D0cVvoEeamfIYQfRbcvQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_v-D0c1voEeamfIYQfRbcvQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_v-D0clvoEeamfIYQfRbcvQ" points="[-28, 1, 28, -243]$[-28, 240, 28, -4]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_v-FCkFvoEeamfIYQfRbcvQ" id="(0.3949447077409163,0.9950900163666121)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_v-FCkVvoEeamfIYQfRbcvQ" id="(0.33739837398373984,0.049707602339181284)"/>
    </edges>
    <edges xmi:id="_z4C9wFvoEeamfIYQfRbcvQ" type="Transition" element="_z4CWsFvoEeamfIYQfRbcvQ" source="_EqvUUFvoEeamfIYQfRbcvQ" target="_gFqaglVoEeast5DdeVZiLw">
      <children xsi:type="notation:DecorationNode" xmi:id="_z4C9xFvoEeamfIYQfRbcvQ" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_z4C9xVvoEeamfIYQfRbcvQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_z4C9xlvoEeamfIYQfRbcvQ" x="2" y="114"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_z4C9wVvoEeamfIYQfRbcvQ" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_z4C9w1voEeamfIYQfRbcvQ" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_z4C9wlvoEeamfIYQfRbcvQ" points="[185, -3, -28, 240]$[185, -242, -28, 1]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_z4Dk0FvoEeamfIYQfRbcvQ" id="(0.5989159891598916,0.04093567251461988)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_z4Dk0VvoEeamfIYQfRbcvQ" id="(0.8062678062678063,0.996969696969697)"/>
    </edges>
    <edges xmi:id="_WU6rwH2BEeayf-zIFUV4tA" type="Transition" element="_WU6EsH2BEeayf-zIFUV4tA" source="_gFpMYlVoEeast5DdeVZiLw" target="_gFqaglVoEeast5DdeVZiLw">
      <children xsi:type="notation:DecorationNode" xmi:id="_WU7S0X2BEeayf-zIFUV4tA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_WU7S0n2BEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_WU7S032BEeayf-zIFUV4tA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_WU6rwX2BEeayf-zIFUV4tA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_WU7S0H2BEeayf-zIFUV4tA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_WU6rwn2BEeayf-zIFUV4tA" points="[7, 3, -71, -31]$[79, 74, 1, 40]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_WU754H2BEeayf-zIFUV4tA" id="(0.01364522417153996,0.5116279069767442)"/>
    </edges>
  </notation:Diagram>
  <notation:Diagram xmi:id="__Skm8H1_Eeayf-zIFUV4tA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_gFpzd1VoEeast5DdeVZiLw" measurementUnit="Pixel">
    <children xmi:id="__K-L4FvaEeadwNW-u8Zqwg" type="Region" element="_NxqMwFVqEeast5DdeVZiLw">
      <children xsi:type="notation:DecorationNode" xmi:id="__K-L4VvaEeadwNW-u8Zqwg" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="__K-L4lvaEeadwNW-u8Zqwg"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="__K-L41vaEeadwNW-u8Zqwg"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="__K-L5FvaEeadwNW-u8Zqwg" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="__K-L5VvaEeadwNW-u8Zqwg" type="Entry" element="_CuK8IFmGEeaZgK6lD15z3g">
          <children xmi:id="__K-L5lvaEeadwNW-u8Zqwg" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="__K-L51vaEeadwNW-u8Zqwg" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="__K-L6FvaEeadwNW-u8Zqwg"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="__K-L6VvaEeadwNW-u8Zqwg"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="__K-L6lvaEeadwNW-u8Zqwg" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="__K-L61vaEeadwNW-u8Zqwg"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="__K-L7FvaEeadwNW-u8Zqwg" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="__K-L7VvaEeadwNW-u8Zqwg" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="__K-L7lvaEeadwNW-u8Zqwg" x="15" y="31" width="15" height="15"/>
        </children>
        <children xmi:id="_HzNNAFvbEeadwNW-u8Zqwg" type="State" element="_HzLX0FvbEeadwNW-u8Zqwg">
          <children xsi:type="notation:DecorationNode" xmi:id="_HzNNBFvbEeadwNW-u8Zqwg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_HzNNBVvbEeadwNW-u8Zqwg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_HzNNBlvbEeadwNW-u8Zqwg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_HzN0EFvbEeadwNW-u8Zqwg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_HzN0EVvbEeadwNW-u8Zqwg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HzN0ElvbEeadwNW-u8Zqwg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_HzObIFvbEeadwNW-u8Zqwg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_HzNNAVvbEeadwNW-u8Zqwg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_HzNNAlvbEeadwNW-u8Zqwg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_HzObIVvbEeadwNW-u8Zqwg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HzNNA1vbEeadwNW-u8Zqwg" x="124" y="-2" width="224" height="197"/>
        </children>
        <children xmi:id="_MRSh4FvbEeadwNW-u8Zqwg" type="State" element="_MRR60FvbEeadwNW-u8Zqwg">
          <children xsi:type="notation:DecorationNode" xmi:id="_MRTI8FvbEeadwNW-u8Zqwg" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_MRTI8VvbEeadwNW-u8Zqwg"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_MRTI8lvbEeadwNW-u8Zqwg"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MRTI81vbEeadwNW-u8Zqwg" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_MRTI9FvbEeadwNW-u8Zqwg" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MRTI9VvbEeadwNW-u8Zqwg"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_MRTI9lvbEeadwNW-u8Zqwg" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_MRSh4VvbEeadwNW-u8Zqwg" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_MRSh4lvbEeadwNW-u8Zqwg"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_MRTI91vbEeadwNW-u8Zqwg" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_MRSh41vbEeadwNW-u8Zqwg" x="1324" y="-4" width="231" height="184"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="__K-L71vaEeadwNW-u8Zqwg"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="__K-L8FvaEeadwNW-u8Zqwg" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="__K-L8VvaEeadwNW-u8Zqwg" width="1681" height="242"/>
    </children>
    <children xmi:id="_HxEeAFvmEeamfIYQfRbcvQ" type="Region" element="_4kpYIFvaEeadwNW-u8Zqwg">
      <children xsi:type="notation:DecorationNode" xmi:id="_HxEeAVvmEeamfIYQfRbcvQ" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_HxEeAlvmEeamfIYQfRbcvQ"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_HxEeA1vmEeamfIYQfRbcvQ"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_HxEeBFvmEeamfIYQfRbcvQ" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_HxEeBVvmEeamfIYQfRbcvQ" type="Entry" element="_84ImkFvaEeadwNW-u8Zqwg">
          <children xmi:id="_HxEeBlvmEeamfIYQfRbcvQ" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_HxEeB1vmEeamfIYQfRbcvQ" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_HxEeCFvmEeamfIYQfRbcvQ"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_HxEeCVvmEeamfIYQfRbcvQ"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_HxEeClvmEeamfIYQfRbcvQ" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HxEeC1vmEeamfIYQfRbcvQ"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_HxEeDFvmEeamfIYQfRbcvQ" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_HxEeDVvmEeamfIYQfRbcvQ" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HxEeDlvmEeamfIYQfRbcvQ" x="26" y="27"/>
        </children>
        <children xmi:id="_HxEeD1vmEeamfIYQfRbcvQ" type="State" element="_KpsR8FvbEeadwNW-u8Zqwg">
          <children xsi:type="notation:DecorationNode" xmi:id="_HxEeEFvmEeamfIYQfRbcvQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_HxEeEVvmEeamfIYQfRbcvQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_HxEeElvmEeamfIYQfRbcvQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_HxEeE1vmEeamfIYQfRbcvQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_HxEeFFvmEeamfIYQfRbcvQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HxEeFVvmEeamfIYQfRbcvQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_HxEeFlvmEeamfIYQfRbcvQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_HxEeF1vmEeamfIYQfRbcvQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_HxEeGFvmEeamfIYQfRbcvQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_HxEeGVvmEeamfIYQfRbcvQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HxEeGlvmEeamfIYQfRbcvQ" x="203" y="44" width="280" height="186"/>
        </children>
        <children xmi:id="_HxEeG1vmEeamfIYQfRbcvQ" type="State" element="_wdlGMFvhEeamfIYQfRbcvQ">
          <children xsi:type="notation:DecorationNode" xmi:id="_HxEeHFvmEeamfIYQfRbcvQ" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_HxEeHVvmEeamfIYQfRbcvQ"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_HxEeHlvmEeamfIYQfRbcvQ"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_HxEeH1vmEeamfIYQfRbcvQ" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_HxEeIFvmEeamfIYQfRbcvQ" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HxEeIVvmEeamfIYQfRbcvQ"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_HxEeIlvmEeamfIYQfRbcvQ" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_HxEeI1vmEeamfIYQfRbcvQ" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_HxEeJFvmEeamfIYQfRbcvQ"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_HxEeJVvmEeamfIYQfRbcvQ" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HxEeJlvmEeamfIYQfRbcvQ" x="1283" y="17" height="216"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HxEeJ1vmEeamfIYQfRbcvQ"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_HxEeKFvmEeamfIYQfRbcvQ" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_HxEeKVvmEeamfIYQfRbcvQ" y="270" width="1670" height="290"/>
    </children>
    <children xmi:id="_RsHUoH2BEeayf-zIFUV4tA" type="Region" element="_RsDqQH2BEeayf-zIFUV4tA">
      <children xsi:type="notation:DecorationNode" xmi:id="_RsH7sH2BEeayf-zIFUV4tA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_RsH7sX2BEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_RsH7sn2BEeayf-zIFUV4tA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_RsH7s32BEeayf-zIFUV4tA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_cPS_gH2BEeayf-zIFUV4tA" type="State" element="_cPP8MH2BEeayf-zIFUV4tA">
          <children xsi:type="notation:DecorationNode" xmi:id="_cPS_hH2BEeayf-zIFUV4tA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_cPS_hX2BEeayf-zIFUV4tA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_cPS_hn2BEeayf-zIFUV4tA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_cPTmkH2BEeayf-zIFUV4tA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_cPTmkX2BEeayf-zIFUV4tA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cPTmkn2BEeayf-zIFUV4tA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_cPTmk32BEeayf-zIFUV4tA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_cPS_gX2BEeayf-zIFUV4tA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_cPS_gn2BEeayf-zIFUV4tA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_cPTmlH2BEeayf-zIFUV4tA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_cPS_g32BEeayf-zIFUV4tA" x="169" y="62" width="375" height="181"/>
        </children>
        <children xmi:id="_d9C6wH2BEeayf-zIFUV4tA" type="Entry" element="_d9CTsH2BEeayf-zIFUV4tA">
          <children xmi:id="_d9C6xH2BEeayf-zIFUV4tA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_d9C6x32BEeayf-zIFUV4tA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_d9C6yH2BEeayf-zIFUV4tA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_d9Dh0H2BEeayf-zIFUV4tA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_d9C6xX2BEeayf-zIFUV4tA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d9C6xn2BEeayf-zIFUV4tA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_d9C6wX2BEeayf-zIFUV4tA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_d9C6wn2BEeayf-zIFUV4tA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_d9C6w32BEeayf-zIFUV4tA" x="19" y="103"/>
        </children>
        <children xmi:id="_nH12YH2BEeayf-zIFUV4tA" type="State" element="_nHzaIH2BEeayf-zIFUV4tA">
          <children xsi:type="notation:DecorationNode" xmi:id="_nH2dcH2BEeayf-zIFUV4tA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_nH2dcX2BEeayf-zIFUV4tA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_nH2dcn2BEeayf-zIFUV4tA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nH2dc32BEeayf-zIFUV4tA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_nH2ddH2BEeayf-zIFUV4tA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nH2ddX2BEeayf-zIFUV4tA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_nH2ddn2BEeayf-zIFUV4tA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_nH12YX2BEeayf-zIFUV4tA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_nH12Yn2BEeayf-zIFUV4tA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_nH2dd32BEeayf-zIFUV4tA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_nH12Y32BEeayf-zIFUV4tA" x="1189" y="52" width="374" height="195"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RsH7tH2BEeayf-zIFUV4tA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_RsHUoX2BEeayf-zIFUV4tA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_RsHUon2BEeayf-zIFUV4tA" y="585" width="1681" height="316"/>
    </children>
    <children xmi:id="_o6KdsH2DEeayf-zIFUV4tA" type="Region" element="_o6IBcH2DEeayf-zIFUV4tA">
      <children xsi:type="notation:DecorationNode" xmi:id="_o6LEwH2DEeayf-zIFUV4tA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_o6LEwX2DEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_o6LEwn2DEeayf-zIFUV4tA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_o6LEw32DEeayf-zIFUV4tA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_sukjcX2DEeayf-zIFUV4tA" type="Entry" element="_sukjcH2DEeayf-zIFUV4tA">
          <children xmi:id="_sulxkH2DEeayf-zIFUV4tA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_sulxk32DEeayf-zIFUV4tA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_sulxlH2DEeayf-zIFUV4tA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_sulxlX2DEeayf-zIFUV4tA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_sulxkX2DEeayf-zIFUV4tA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sulxkn2DEeayf-zIFUV4tA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_sukjcn2DEeayf-zIFUV4tA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_sukjc32DEeayf-zIFUV4tA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_sukjdH2DEeayf-zIFUV4tA" x="33" y="87"/>
        </children>
        <children xmi:id="_tISrAH2DEeayf-zIFUV4tA" type="State" element="_tIRc4H2DEeayf-zIFUV4tA">
          <children xsi:type="notation:DecorationNode" xmi:id="_tISrBH2DEeayf-zIFUV4tA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_tISrBX2DEeayf-zIFUV4tA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_tISrBn2DEeayf-zIFUV4tA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_tISrB32DEeayf-zIFUV4tA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_tISrCH2DEeayf-zIFUV4tA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tISrCX2DEeayf-zIFUV4tA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_tISrCn2DEeayf-zIFUV4tA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_tISrAX2DEeayf-zIFUV4tA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_tISrAn2DEeayf-zIFUV4tA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_tISrC32DEeayf-zIFUV4tA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_tISrA32DEeayf-zIFUV4tA" x="214" y="58" width="908" height="81"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_o6LExH2DEeayf-zIFUV4tA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_o6KdsX2DEeayf-zIFUV4tA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_o6Kdsn2DEeayf-zIFUV4tA" y="930" width="1681" height="301"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="__Skm8X1_Eeayf-zIFUV4tA"/>
    <edges xmi:id="_X5KswH2BEeayf-zIFUV4tA" type="Transition" element="_X5KFsH2BEeayf-zIFUV4tA" source="__K-L5VvaEeadwNW-u8Zqwg" target="_HzNNAFvbEeadwNW-u8Zqwg">
      <children xsi:type="notation:DecorationNode" xmi:id="_X5LT0X2BEeayf-zIFUV4tA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_X5LT0n2BEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_X5LT032BEeayf-zIFUV4tA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_X5KswX2BEeayf-zIFUV4tA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_X5LT0H2BEeayf-zIFUV4tA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_X5Kswn2BEeayf-zIFUV4tA" points="[7, 0, -129, 0]$[137, -40, 1, -40]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_X5L64H2BEeayf-zIFUV4tA" id="(0.15625,0.2131979695431472)"/>
    </edges>
    <edges xmi:id="_ZH5wwH2BEeayf-zIFUV4tA" type="Transition" element="_ZH5JsH2BEeayf-zIFUV4tA" source="_HxEeBVvmEeamfIYQfRbcvQ" target="_HxEeD1vmEeamfIYQfRbcvQ">
      <children xsi:type="notation:DecorationNode" xmi:id="_ZH6X0X2BEeayf-zIFUV4tA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ZH6X0n2BEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ZH6X032BEeayf-zIFUV4tA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ZH5wwX2BEeayf-zIFUV4tA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ZH6X0H2BEeayf-zIFUV4tA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ZH5wwn2BEeayf-zIFUV4tA" points="[0, 7, -189, -40]$[0, 54, -189, 7]$[170, 54, -19, 7]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ZH6-4H2BEeayf-zIFUV4tA" id="(0.07142857142857142,0.20967741935483872)"/>
    </edges>
    <edges xmi:id="_ep1IQH2BEeayf-zIFUV4tA" type="Transition" element="_ep0hMH2BEeayf-zIFUV4tA" source="_d9C6wH2BEeayf-zIFUV4tA" target="_cPS_gH2BEeayf-zIFUV4tA">
      <children xsi:type="notation:DecorationNode" xmi:id="_ep1IRH2BEeayf-zIFUV4tA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_ep1IRX2BEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_ep1IRn2BEeayf-zIFUV4tA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_ep1IQX2BEeayf-zIFUV4tA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_ep1IQ32BEeayf-zIFUV4tA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_ep1IQn2BEeayf-zIFUV4tA" points="[7, 0, -276, 8]$[286, -48, 3, -40]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_ep1vUH2BEeayf-zIFUV4tA" id="(0.47232472324723246,0.23204419889502761)"/>
    </edges>
    <edges xmi:id="_oTOrcH2BEeayf-zIFUV4tA" type="Transition" element="_oTLoIH2BEeayf-zIFUV4tA" source="_cPS_gH2BEeayf-zIFUV4tA" target="_nH12YH2BEeayf-zIFUV4tA">
      <children xsi:type="notation:DecorationNode" xmi:id="_oTOrdH2BEeayf-zIFUV4tA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_oTOrdX2BEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_oTOrdn2BEeayf-zIFUV4tA" y="-18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_oTOrcX2BEeayf-zIFUV4tA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_oTOrc32BEeayf-zIFUV4tA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_oTOrcn2BEeayf-zIFUV4tA" points="[10, 16, -814, 20]$[660, 16, -164, 20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_oTPSgH2BEeayf-zIFUV4tA" id="(0.975,0.18232044198895028)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_oTP5kH2BEeayf-zIFUV4tA" id="(0.44649446494464945,0.20512820512820512)"/>
    </edges>
    <edges xmi:id="_iwC6QH2CEeayf-zIFUV4tA" type="Transition" element="_iwAeAH2CEeayf-zIFUV4tA" source="_nH12YH2BEeayf-zIFUV4tA" target="_cPS_gH2BEeayf-zIFUV4tA">
      <children xsi:type="notation:DecorationNode" xmi:id="_iwDhUX2CEeayf-zIFUV4tA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_iwDhUn2CEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_iwDhU32CEeayf-zIFUV4tA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_iwC6QX2CEeayf-zIFUV4tA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_iwDhUH2CEeayf-zIFUV4tA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_iwC6Qn2CEeayf-zIFUV4tA" points="[-24, 38, 698, 32]$[-674, 38, 48, 32]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iwEIYH2CEeayf-zIFUV4tA" id="(0.06684491978609626,0.4666666666666667)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_iwEIYX2CEeayf-zIFUV4tA" id="(0.8722222222222222,0.48066298342541436)"/>
    </edges>
    <edges xmi:id="_vzQccH2DEeayf-zIFUV4tA" type="Transition" element="_vzP1YH2DEeayf-zIFUV4tA" source="_sukjcX2DEeayf-zIFUV4tA" target="_tISrAH2DEeayf-zIFUV4tA">
      <children xsi:type="notation:DecorationNode" xmi:id="_vzQcdH2DEeayf-zIFUV4tA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_vzQcdX2DEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_vzQcdn2DEeayf-zIFUV4tA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_vzQccX2DEeayf-zIFUV4tA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_vzQcc32DEeayf-zIFUV4tA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_vzQccn2DEeayf-zIFUV4tA" points="[0, 7, -204, -14]$[0, 0, -204, -21]$[174, 0, -30, -21]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_vzRqkH2DEeayf-zIFUV4tA" id="(0.07828282828282829,0.3197278911564626)"/>
    </edges>
  </notation:Diagram>
  <notation:Diagram xmi:id="_apUVoH2AEeayf-zIFUV4tA" type="org.yakindu.sct.ui.editor.editor.StatechartDiagramEditor" element="_EqwicFvoEeamfIYQfRbcvQ" measurementUnit="Pixel">
    <children xmi:id="_qBuqEH2AEeayf-zIFUV4tA" type="Region" element="_qBxGUH2AEeayf-zIFUV4tA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qBuqEX2AEeayf-zIFUV4tA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qBuqEn2AEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qBuqE32AEeayf-zIFUV4tA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_qBuqFH2AEeayf-zIFUV4tA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_qBuqFX2AEeayf-zIFUV4tA" type="Entry" element="_qBxGUX2AEeayf-zIFUV4tA">
          <children xmi:id="_qBuqFn2AEeayf-zIFUV4tA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_qBuqF32AEeayf-zIFUV4tA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_qBuqGH2AEeayf-zIFUV4tA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_qBuqGX2AEeayf-zIFUV4tA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_qBuqGn2AEeayf-zIFUV4tA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qBuqG32AEeayf-zIFUV4tA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_qBuqHH2AEeayf-zIFUV4tA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_qBuqHX2AEeayf-zIFUV4tA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qBuqHn2AEeayf-zIFUV4tA" x="15" y="31" width="15" height="15"/>
        </children>
        <children xmi:id="_qBuqH32AEeayf-zIFUV4tA" type="State" element="_qBxtYH2AEeayf-zIFUV4tA">
          <children xsi:type="notation:DecorationNode" xmi:id="_qBuqIH2AEeayf-zIFUV4tA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_qBuqIX2AEeayf-zIFUV4tA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_qBuqIn2AEeayf-zIFUV4tA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qBuqI32AEeayf-zIFUV4tA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_qBuqJH2AEeayf-zIFUV4tA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qBuqJX2AEeayf-zIFUV4tA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qBuqJn2AEeayf-zIFUV4tA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_qBuqJ32AEeayf-zIFUV4tA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_qBuqKH2AEeayf-zIFUV4tA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qBuqKX2AEeayf-zIFUV4tA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qBuqKn2AEeayf-zIFUV4tA" x="124" y="-2" width="224" height="197"/>
        </children>
        <children xmi:id="_qBuqK32AEeayf-zIFUV4tA" type="State" element="_qBy7kX2AEeayf-zIFUV4tA">
          <children xsi:type="notation:DecorationNode" xmi:id="_qBuqLH2AEeayf-zIFUV4tA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_qBuqLX2AEeayf-zIFUV4tA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_qBuqLn2AEeayf-zIFUV4tA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qBuqL32AEeayf-zIFUV4tA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_qBuqMH2AEeayf-zIFUV4tA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qBuqMX2AEeayf-zIFUV4tA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qBuqMn2AEeayf-zIFUV4tA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_qBuqM32AEeayf-zIFUV4tA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_qBuqNH2AEeayf-zIFUV4tA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qBuqNX2AEeayf-zIFUV4tA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qBuqNn2AEeayf-zIFUV4tA" x="1324" y="-4" width="231" height="184"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qBuqN32AEeayf-zIFUV4tA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_qBuqOH2AEeayf-zIFUV4tA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qBuqOX2AEeayf-zIFUV4tA" x="10" y="10" width="1681" height="286"/>
    </children>
    <children xmi:id="_qBv4MH2AEeayf-zIFUV4tA" type="Region" element="_qB5CIH2AEeayf-zIFUV4tA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qBv4MX2AEeayf-zIFUV4tA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qBv4Mn2AEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qBv4M32AEeayf-zIFUV4tA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_qBv4NH2AEeayf-zIFUV4tA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_qBv4NX2AEeayf-zIFUV4tA" type="Entry" element="_qB5CIX2AEeayf-zIFUV4tA">
          <children xmi:id="_qBv4Nn2AEeayf-zIFUV4tA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_qBv4N32AEeayf-zIFUV4tA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_qBv4OH2AEeayf-zIFUV4tA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_qBv4OX2AEeayf-zIFUV4tA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_qBv4On2AEeayf-zIFUV4tA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qBv4O32AEeayf-zIFUV4tA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_qBv4PH2AEeayf-zIFUV4tA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_qBv4PX2AEeayf-zIFUV4tA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qBv4Pn2AEeayf-zIFUV4tA" x="26" y="27"/>
        </children>
        <children xmi:id="_qBv4P32AEeayf-zIFUV4tA" type="State" element="_qB5pMH2AEeayf-zIFUV4tA">
          <children xsi:type="notation:DecorationNode" xmi:id="_qBv4QH2AEeayf-zIFUV4tA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_qBv4QX2AEeayf-zIFUV4tA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_qBv4Qn2AEeayf-zIFUV4tA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qBv4Q32AEeayf-zIFUV4tA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_qBv4RH2AEeayf-zIFUV4tA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qBv4RX2AEeayf-zIFUV4tA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qBv4Rn2AEeayf-zIFUV4tA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_qBv4R32AEeayf-zIFUV4tA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_qBv4SH2AEeayf-zIFUV4tA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qBv4SX2AEeayf-zIFUV4tA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qBv4Sn2AEeayf-zIFUV4tA" x="203" y="44" width="280" height="186"/>
        </children>
        <children xmi:id="_qBv4S32AEeayf-zIFUV4tA" type="State" element="_qB63UH2AEeayf-zIFUV4tA">
          <children xsi:type="notation:DecorationNode" xmi:id="_qBv4TH2AEeayf-zIFUV4tA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_qBv4TX2AEeayf-zIFUV4tA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_qBv4Tn2AEeayf-zIFUV4tA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qBv4T32AEeayf-zIFUV4tA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_qBv4UH2AEeayf-zIFUV4tA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qBv4UX2AEeayf-zIFUV4tA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_qBv4Un2AEeayf-zIFUV4tA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_qBv4U32AEeayf-zIFUV4tA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_qBv4VH2AEeayf-zIFUV4tA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_qBv4VX2AEeayf-zIFUV4tA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qBv4Vn2AEeayf-zIFUV4tA" x="1283" y="17" height="216"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qBv4V32AEeayf-zIFUV4tA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_qBv4WH2AEeayf-zIFUV4tA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_qBwfQH2AEeayf-zIFUV4tA" x="10" y="330" width="1670" height="301"/>
    </children>
    <children xmi:id="_kUnrYH2CEeayf-zIFUV4tA" type="Region" element="_kUoScH2CEeayf-zIFUV4tA">
      <children xsi:type="notation:DecorationNode" xmi:id="_kUnrYX2CEeayf-zIFUV4tA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kUnrYn2CEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kUnrY32CEeayf-zIFUV4tA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_kUnrZH2CEeayf-zIFUV4tA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_kUnrZX2CEeayf-zIFUV4tA" type="State" element="_kUoScX2CEeayf-zIFUV4tA">
          <children xsi:type="notation:DecorationNode" xmi:id="_kUnrZn2CEeayf-zIFUV4tA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_kUnrZ32CEeayf-zIFUV4tA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_kUnraH2CEeayf-zIFUV4tA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_kUnraX2CEeayf-zIFUV4tA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_kUnran2CEeayf-zIFUV4tA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kUnra32CEeayf-zIFUV4tA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_kUnrbH2CEeayf-zIFUV4tA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_kUnrbX2CEeayf-zIFUV4tA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_kUnrbn2CEeayf-zIFUV4tA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_kUnrb32CEeayf-zIFUV4tA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kUnrcH2CEeayf-zIFUV4tA" x="174" y="62" width="375" height="181"/>
        </children>
        <children xmi:id="_kUnrcX2CEeayf-zIFUV4tA" type="Entry" element="_kUpglH2CEeayf-zIFUV4tA">
          <children xmi:id="_kUnrcn2CEeayf-zIFUV4tA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_kUnrc32CEeayf-zIFUV4tA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_kUnrdH2CEeayf-zIFUV4tA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_kUnrdX2CEeayf-zIFUV4tA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_kUnrdn2CEeayf-zIFUV4tA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kUnrd32CEeayf-zIFUV4tA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_kUnreH2CEeayf-zIFUV4tA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_kUnreX2CEeayf-zIFUV4tA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kUnren2CEeayf-zIFUV4tA" x="19" y="103"/>
        </children>
        <children xmi:id="_kUnre32CEeayf-zIFUV4tA" type="State" element="_kUqHoH2CEeayf-zIFUV4tA">
          <children xsi:type="notation:DecorationNode" xmi:id="_kUnrfH2CEeayf-zIFUV4tA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_kUnrfX2CEeayf-zIFUV4tA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_kUnrfn2CEeayf-zIFUV4tA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_kUnrf32CEeayf-zIFUV4tA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_kUnrgH2CEeayf-zIFUV4tA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kUnrgX2CEeayf-zIFUV4tA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_kUnrgn2CEeayf-zIFUV4tA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_kUnrg32CEeayf-zIFUV4tA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_kUnrhH2CEeayf-zIFUV4tA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_kUnrhX2CEeayf-zIFUV4tA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kUnrhn2CEeayf-zIFUV4tA" x="1189" y="52" width="386" height="195"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kUnrh32CEeayf-zIFUV4tA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_kUnriH2CEeayf-zIFUV4tA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_kUnriX2CEeayf-zIFUV4tA" x="4" y="645" width="1681" height="316"/>
    </children>
    <children xmi:id="_92BMkX2DEeayf-zIFUV4tA" type="Region" element="_92BzoH2DEeayf-zIFUV4tA">
      <children xsi:type="notation:DecorationNode" xmi:id="_92BMkn2DEeayf-zIFUV4tA" type="RegionName">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_92BMk32DEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_92BMlH2DEeayf-zIFUV4tA"/>
      </children>
      <children xsi:type="notation:Shape" xmi:id="_92BMlX2DEeayf-zIFUV4tA" type="RegionCompartment" fontName="Verdana" lineColor="4210752">
        <children xmi:id="_92BMln2DEeayf-zIFUV4tA" type="Entry" element="_92BzoX2DEeayf-zIFUV4tA">
          <children xmi:id="_92BMl32DEeayf-zIFUV4tA" type="BorderItemLabelContainer">
            <children xsi:type="notation:DecorationNode" xmi:id="_92BMmH2DEeayf-zIFUV4tA" type="BorderItemLabel">
              <styles xsi:type="notation:ShapeStyle" xmi:id="_92BMmX2DEeayf-zIFUV4tA"/>
              <layoutConstraint xsi:type="notation:Location" xmi:id="_92BMmn2DEeayf-zIFUV4tA"/>
            </children>
            <styles xsi:type="notation:ShapeStyle" xmi:id="_92BMm32DEeayf-zIFUV4tA" fontName="Verdana" lineColor="4210752"/>
            <layoutConstraint xsi:type="notation:Bounds" xmi:id="_92BMnH2DEeayf-zIFUV4tA"/>
          </children>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_92BMnX2DEeayf-zIFUV4tA" fontName="Verdana" fillColor="0" lineColor="16777215"/>
          <styles xsi:type="notation:NamedStyle" xmi:id="_92BMnn2DEeayf-zIFUV4tA" name="allowColors"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_92BMn32DEeayf-zIFUV4tA" x="33" y="87"/>
        </children>
        <children xmi:id="_92BMoH2DEeayf-zIFUV4tA" type="State" element="_92CasH2DEeayf-zIFUV4tA">
          <children xsi:type="notation:DecorationNode" xmi:id="_92BMoX2DEeayf-zIFUV4tA" type="StateName">
            <styles xsi:type="notation:ShapeStyle" xmi:id="_92BMon2DEeayf-zIFUV4tA"/>
            <layoutConstraint xsi:type="notation:Location" xmi:id="_92BMo32DEeayf-zIFUV4tA"/>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_92BMpH2DEeayf-zIFUV4tA" type="StateTextCompartment">
            <children xsi:type="notation:Shape" xmi:id="_92BMpX2DEeayf-zIFUV4tA" type="StateTextCompartmentExpression" fontName="Verdana" lineColor="4210752">
              <layoutConstraint xsi:type="notation:Bounds" xmi:id="_92BMpn2DEeayf-zIFUV4tA"/>
            </children>
          </children>
          <children xsi:type="notation:Compartment" xmi:id="_92BMp32DEeayf-zIFUV4tA" type="StateFigureCompartment"/>
          <styles xsi:type="notation:ShapeStyle" xmi:id="_92BMqH2DEeayf-zIFUV4tA" fontName="Verdana" fillColor="15981773" lineColor="12632256"/>
          <styles xsi:type="notation:FontStyle" xmi:id="_92BMqX2DEeayf-zIFUV4tA"/>
          <styles xsi:type="notation:BooleanValueStyle" xmi:id="_92BMqn2DEeayf-zIFUV4tA" name="isHorizontal" booleanValue="true"/>
          <layoutConstraint xsi:type="notation:Bounds" xmi:id="_92BMq32DEeayf-zIFUV4tA" x="214" y="58" width="926" height="81"/>
        </children>
        <layoutConstraint xsi:type="notation:Bounds" xmi:id="_92BMrH2DEeayf-zIFUV4tA"/>
      </children>
      <styles xsi:type="notation:ShapeStyle" xmi:id="_92BMrX2DEeayf-zIFUV4tA" fontName="Verdana" fillColor="15790320" lineColor="12632256"/>
      <layoutConstraint xsi:type="notation:Bounds" xmi:id="_92BMrn2DEeayf-zIFUV4tA" x="4" y="975" width="1681" height="301"/>
    </children>
    <styles xsi:type="notation:DiagramStyle" xmi:id="_apUVoX2AEeayf-zIFUV4tA"/>
    <edges xmi:id="_qCAW4H2AEeayf-zIFUV4tA" type="Transition" element="_qBxGUn2AEeayf-zIFUV4tA" source="_qBuqFX2AEeayf-zIFUV4tA" target="_qBuqH32AEeayf-zIFUV4tA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qCAW4X2AEeayf-zIFUV4tA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qCAW4n2AEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qCAW432AEeayf-zIFUV4tA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qCAW5H2AEeayf-zIFUV4tA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qCAW5X2AEeayf-zIFUV4tA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qCAW5n2AEeayf-zIFUV4tA" points="[-6, -1, 75, 16]$[-79, -16, 2, 1]"/>
    </edges>
    <edges xmi:id="_qCAW532AEeayf-zIFUV4tA" type="Transition" element="_qB5CIn2AEeayf-zIFUV4tA" source="_qBv4NX2AEeayf-zIFUV4tA" target="_qBv4P32AEeayf-zIFUV4tA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qCAW6H2AEeayf-zIFUV4tA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qCAW6X2AEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qCAW6n2AEeayf-zIFUV4tA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qCAW632AEeayf-zIFUV4tA" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qCAW7H2AEeayf-zIFUV4tA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qCAW7X2AEeayf-zIFUV4tA" points="[0, 7, 3, -23]$[0, 22, 3, -8]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qCAW7n2AEeayf-zIFUV4tA" id="(0.40594059405940597,0.22641509433962265)"/>
    </edges>
    <edges xmi:id="_qCA98H2AEeayf-zIFUV4tA" type="Transition" element="_qByUcX2AEeayf-zIFUV4tA" source="_qBuqH32AEeayf-zIFUV4tA" target="_qBuqK32AEeayf-zIFUV4tA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qCA98X2AEeayf-zIFUV4tA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qCA98n2AEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qCA9832AEeayf-zIFUV4tA" x="21" y="-26"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qCA99H2AEeayf-zIFUV4tA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qCA99X2AEeayf-zIFUV4tA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qCA99n2AEeayf-zIFUV4tA" points="[110, 80, -1094, 89]$[1091, 80, -113, 89]"/>
    </edges>
    <edges xmi:id="_qCA9932AEeayf-zIFUV4tA" type="Transition" element="_qBzikX2AEeayf-zIFUV4tA" source="_qBuqK32AEeayf-zIFUV4tA" target="_qBuqH32AEeayf-zIFUV4tA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qCA9-H2AEeayf-zIFUV4tA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qCA9-X2AEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qCA9-n2AEeayf-zIFUV4tA" x="-39" y="32"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qCA9-32AEeayf-zIFUV4tA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qCA9_H2AEeayf-zIFUV4tA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qCA9_X2AEeayf-zIFUV4tA" points="[-113, 20, 1027, -1]$[-1094, 20, 46, -1]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qCA9_n2AEeayf-zIFUV4tA" id="(0.7920792079207921,0.5660377358490566)"/>
    </edges>
    <edges xmi:id="_qCA9_32AEeayf-zIFUV4tA" type="Transition" element="_qB0JoH2AEeayf-zIFUV4tA" source="_qBuqK32AEeayf-zIFUV4tA" target="_qBuqH32AEeayf-zIFUV4tA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qCA-AH2AEeayf-zIFUV4tA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qCA-AX2AEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qCA-An2AEeayf-zIFUV4tA" x="-52" y="40"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qCA-A32AEeayf-zIFUV4tA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qCA-BH2AEeayf-zIFUV4tA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qCA-BX2AEeayf-zIFUV4tA" points="[-50, 2, 1187, -14]$[-1031, 2, 206, -14]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qCA-Bn2AEeayf-zIFUV4tA" id="(0.2222222222222222,0.22641509433962265)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qCA-B32AEeayf-zIFUV4tA" id="(0.0594059405940594,0.2830188679245283)"/>
    </edges>
    <edges xmi:id="_qCA-CH2AEeayf-zIFUV4tA" type="Transition" element="_qB6QQX2AEeayf-zIFUV4tA" source="_qBv4P32AEeayf-zIFUV4tA" target="_qBv4S32AEeayf-zIFUV4tA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qCA-CX2AEeayf-zIFUV4tA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qCA-Cn2AEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qCA-C32AEeayf-zIFUV4tA" x="-15" y="-33"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qCA-DH2AEeayf-zIFUV4tA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qCA-DX2AEeayf-zIFUV4tA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qCA-Dn2AEeayf-zIFUV4tA" points="[138, -72, -913, -60]$[943, -72, -108, -60]"/>
    </edges>
    <edges xmi:id="_qCBlAH2AEeayf-zIFUV4tA" type="Transition" element="_qB63Un2AEeayf-zIFUV4tA" source="_qBv4S32AEeayf-zIFUV4tA" target="_qBv4P32AEeayf-zIFUV4tA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qCBlAX2AEeayf-zIFUV4tA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qCBlAn2AEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qCBlA32AEeayf-zIFUV4tA" x="-3" y="41"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qCBlBH2AEeayf-zIFUV4tA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qCBlBX2AEeayf-zIFUV4tA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qCBlBn2AEeayf-zIFUV4tA" points="[-215, 68, 823, 77]$[-1020, 68, 18, 77]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qCBlB32AEeayf-zIFUV4tA" id="(0.9947089947089947,0.6037735849056604)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qCBlCH2AEeayf-zIFUV4tA" id="(0.9361702127659575,0.5070422535211268)"/>
    </edges>
    <edges xmi:id="_qCBlCX2AEeayf-zIFUV4tA" type="Transition" element="_qB8FgX2AEeayf-zIFUV4tA" source="_qBv4S32AEeayf-zIFUV4tA" target="_qBv4P32AEeayf-zIFUV4tA">
      <children xsi:type="notation:DecorationNode" xmi:id="_qCBlCn2AEeayf-zIFUV4tA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_qCBlC32AEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_qCBlDH2AEeayf-zIFUV4tA" x="-16" y="26"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_qCBlDX2AEeayf-zIFUV4tA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_qCBlDn2AEeayf-zIFUV4tA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_qCBlD32AEeayf-zIFUV4tA" points="[-27, 34, 1073, -44]$[-832, 34, 268, -44]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qCBlEH2AEeayf-zIFUV4tA" id="(0.12698412698412698,0.33962264150943394)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_qCBlEX2AEeayf-zIFUV4tA" id="(0.02553191489361702,0.676056338028169)"/>
    </edges>
    <edges xmi:id="_kUwOQH2CEeayf-zIFUV4tA" type="Transition" element="_kUpglX2CEeayf-zIFUV4tA" source="_kUnrcX2CEeayf-zIFUV4tA" target="_kUnrZX2CEeayf-zIFUV4tA">
      <children xsi:type="notation:DecorationNode" xmi:id="_kUwOQX2CEeayf-zIFUV4tA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kUwOQn2CEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kUwOQ32CEeayf-zIFUV4tA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kUwORH2CEeayf-zIFUV4tA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kUwORX2CEeayf-zIFUV4tA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kUwORn2CEeayf-zIFUV4tA" points="[7, 0, -276, 8]$[286, -48, 3, -40]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kUwOR32CEeayf-zIFUV4tA" id="(0.47232472324723246,0.23204419889502761)"/>
    </edges>
    <edges xmi:id="_kUwOSH2CEeayf-zIFUV4tA" type="Transition" element="_kUo5j32CEeayf-zIFUV4tA" source="_kUnrZX2CEeayf-zIFUV4tA" target="_kUnre32CEeayf-zIFUV4tA">
      <children xsi:type="notation:DecorationNode" xmi:id="_kUwOSX2CEeayf-zIFUV4tA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kUwOSn2CEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kUwOS32CEeayf-zIFUV4tA" y="-18"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kUwOTH2CEeayf-zIFUV4tA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kUwOTX2CEeayf-zIFUV4tA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kUwOTn2CEeayf-zIFUV4tA" points="[10, 16, -815, 20]$[655, 16, -170, 20]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kUwOT32CEeayf-zIFUV4tA" id="(0.975,0.18232044198895028)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kUwOUH2CEeayf-zIFUV4tA" id="(0.44649446494464945,0.20512820512820512)"/>
    </edges>
    <edges xmi:id="_kUwOUX2CEeayf-zIFUV4tA" type="Transition" element="_kUrVwH2CEeayf-zIFUV4tA" source="_kUnre32CEeayf-zIFUV4tA" target="_kUnrZX2CEeayf-zIFUV4tA">
      <children xsi:type="notation:DecorationNode" xmi:id="_kUw1UH2CEeayf-zIFUV4tA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_kUw1UX2CEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_kUw1Un2CEeayf-zIFUV4tA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_kUw1U32CEeayf-zIFUV4tA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_kUw1VH2CEeayf-zIFUV4tA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_kUw1VX2CEeayf-zIFUV4tA" points="[-25, 38, 693, 32]$[-670, 38, 48, 32]"/>
      <sourceAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kUw1Vn2CEeayf-zIFUV4tA" id="(0.06684491978609626,0.4666666666666667)"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_kUw1V32CEeayf-zIFUV4tA" id="(0.8722222222222222,0.48066298342541436)"/>
    </edges>
    <edges xmi:id="_92JIYH2DEeayf-zIFUV4tA" type="Transition" element="_92Bzon2DEeayf-zIFUV4tA" source="_92BMln2DEeayf-zIFUV4tA" target="_92BMoH2DEeayf-zIFUV4tA">
      <children xsi:type="notation:DecorationNode" xmi:id="_92JIYX2DEeayf-zIFUV4tA" type="TransitionExpression">
        <styles xsi:type="notation:ShapeStyle" xmi:id="_92JIYn2DEeayf-zIFUV4tA"/>
        <layoutConstraint xsi:type="notation:Location" xmi:id="_92JIY32DEeayf-zIFUV4tA" y="10"/>
      </children>
      <styles xsi:type="notation:ConnectorStyle" xmi:id="_92JIZH2DEeayf-zIFUV4tA" routing="Rectilinear" lineColor="4210752"/>
      <styles xsi:type="notation:FontStyle" xmi:id="_92JIZX2DEeayf-zIFUV4tA" fontName="Verdana"/>
      <bendpoints xsi:type="notation:RelativeBendpoints" xmi:id="_92JIZn2DEeayf-zIFUV4tA" points="[0, 7, -204, -14]$[0, 0, -204, -21]$[174, 0, -30, -21]"/>
      <targetAnchor xsi:type="notation:IdentityAnchor" xmi:id="_92JIZ32DEeayf-zIFUV4tA" id="(0.07828282828282829,0.3197278911564626)"/>
    </edges>
  </notation:Diagram>
</xmi:XMI>
