<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated EventAutomatonModel -->
      <package
            uri="http://www.example.org/EventAutomatonModel"
            class="EventAutomatonModel.EventAutomatonModelPackage"
            genModel="model/EventAutomatonModel.genmodel"/>
   </extension>

</plugin>
