.content {
	margin: 0;
	padding: 0;
}

.content .row {
	margin-left: 0;
	margin-right: 0;
}

#modes3-board-container {
	height: 100vh;
	padding-top: 50px;
	display: flex;
	align-items: center;
}

#modes3-board-container #modes3-board-svg {
	width: 100%;
	height: 100%;
	max-width: 100%;
	max-height: 100%;
}

#modes3-trains-container {
	height: 80vh;
	padding-top: 60px;
}

#modes3-trains-container .modes3-train {
	width: 100%;
	box-sizing: border-box;
}

#modes3-trains-container .modes3-train[data-modes3-id='8'] {
	border-left: 10px solid red;
}

#modes3-trains-container .modes3-train[data-modes3-id='9'] {
	border-left: 10px solid green;
}

#modes3-trains-container .modes3-train[data-modes3-id='10'] {
	border-left: 10px solid blue;
}

#modes3-trains-container .modes3-train-image-container p {
	font-size: 13pt;
	font-variant: small-caps;
}

#modes3-trains-container .modes3-train-speed-container {
	margin-top: 10px;
}

#modes3-trains-container .modes3-train-speed-container object {
	width: 100%;
	display: block;
	padding-left: 7px;
	padding-right: 7px;
}

#modes3-trains-container .modes3-train img {
	display: block;
	max-width: 100%;
	margin: auto;
}

#modes3-log-container {
	height: 20vh;
	background-color: #DDDDDD;
}

#connectionStatus.modes3-disconnected {
	background-color: #3E0B00;
}

#connectionStatus.modes3-disconnected:hover {
	background-color: #810B00;
}

#connectionStatus.modes3-connecting {
	background-color: #FF8300;
}

#connectionStatus.modes3-connecting:hover {
	background-color: #FF8300;
}

#connectionStatus.modes3-connected {
	background-color: #063B09;
}

#connectionStatus.modes3-connected:hover {
	background-color: #0A6910;
}

#connectionStatus.modes3-connected--controller {
	background-color: #0A4C69;
}

#connectionStatus.modes3-connected--controller:hover {
	background-color: #10729C;
}

#modes3-board-svg path,
#modes3-board-svg polygon {
	fill: none;
	stroke-miterlimit: 10;
	stroke-linecap: round;
	stroke-linejoin: round;
}

#modes3-board-svg path {
	stroke-width: 3px;
}

#modes3-board-svg polygon {
	stroke-width: 1.2px;
	fill: #CCCEC0;
}

#modes3-board-svg .modes3-section--inactive {
	stroke: #BCBEC0;
}

#modes3-board-svg .modes3-section--active {
	stroke: #10729C;
}

#modes3-board-svg .modes3-turnout--inactive {
	stroke: #BCBEC0;
}

#modes3-board-svg .modes3-turnout--active {
	stroke: #10729C;
}

#modes3-board-svg .modes3-train {
	filter: url(#shadow);
}
