TitledPane {
    -fx-background-radius: 0;
}

.turnoutContainer > BorderPane > ToggleButton {
	-fx-background-radius: 0;
}

.turnoutContainer > ToggleButton:selected {
    -fx-background-color: gray;
}

.segmentContainer > Button {
    -fx-background-radius: 0;
}