/.ParametricTimedRegularExpressionRuntimeModule.java._trace
/.ParametricTimedRegularExpressionRuntimeModule.xtendbin
/.ParametricTimedRegularExpressionStandaloneSetup.java._trace
/.ParametricTimedRegularExpressionStandaloneSetup.xtendbin
/ParametricTimedRegularExpressionRuntimeModule.java
/ParametricTimedRegularExpressionStandaloneSetup.java
