{
  "extends": "eslint:recommended",
  "env": {
    "browser": true,
    "node": true,
    "es6": true
  },
  "plugins": [
    "unicorn"
  ],
  "parserOptions": {
    "ecmaVersion": 2017,
    "sourceType": "module"
  },
  "globals": {
    "require": true,
    "utils": true,
    "moment": true,
    "browser": true,
    "utf8": true,
    "frontend": true
  },
  "rules": {
    "curly": [
      0,
      "multi"
    ],
    "eqeqeq": [
      1,
      "smart"
    ],
    "no-console": 1,
    "max-depth": [
      1,
      4
    ],
    "max-params": [
      1,
      8
    ],
    "new-cap": 0,
    "new-parens": 0,
    "no-constant-condition": 0,
    "no-div-regex": 1,
    "no-else-return": 1,
    "no-floating-decimal": 2,
    "no-inner-declarations": 2,
    "no-lonely-if": 1,
    "no-nested-ternary": 2,
    "no-new-object": 0,
    "no-new-func": 0,
    "no-use-before-define": 0,
    "no-underscore-dangle": 0,
    "no-const-assign": 2,
    "no-dupe-class-members": 2,
    "constructor-super": 2,
    "no-shadow": 2,
    "quotes": [
      1,
      "single",
      "avoid-escape"
    ],
    "no-unused-vars": 1,
    "radix": 2,
    "keyword-spacing": 2,
    "strict": [
      2,
      "never"
    ],
    "wrap-iife": 2,
    "prefer-arrow-callback": 2,
    "prefer-const": 2,
    "require-yield": 2,
    "arrow-parens": [
      2,
      "as-needed"
    ],
    "no-control-regex": 0,
    "no-unused-expressions": 2,
    "no-param-reassign": 2,
    "space-unary-ops": [
      2,
      {
        "words": true,
        "nonwords": false
      }
    ],
    "unicorn/explicit-length-check": "error",
    "unicorn/throw-new-error": "error",
    "unicorn/no-array-instanceof": "error",
    "unicorn/prefer-starts-ends-with": "error",
    "no-var": "error"
  }
}
