/.AutomatonExecutioner.java._trace
/.AutomatonExecutioner.xtendbin
/.AutomatonTimeoutTask.java._trace
/.AutomatonTimeoutTask.xtendbin
/.CEPExecutioner.java._trace
/.CEPExecutioner.xtendbin
/AutomatonExecutioner.java
/AutomatonTimeoutTask.java
/CEPExecutioner.java
