/.NoTrainOnStationProcessor.java._trace
/.NoTrainOnStationQuerySpecification.java._trace
/.TrainLeftStationProcessor.java._trace
/.TrainLeftStationQuerySpecification.java._trace
/.TrainOnStationProcessor.java._trace
/.TrainOnStationQuerySpecification.java._trace
/.MultipleTrainsOnStationProcessor.java._trace
/.MultipleTrainsOnStationQuerySpecification.java._trace
/.TrainIsNotOnStationProcessor.java._trace
/.TrainIsNotOnStationQuerySpecification.java._trace
/.TrainIsNotInStationProcessor.java._trace
/.TrainIsNotInStationQuerySpecification.java._trace
