<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>

   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/uppaal.genmodel"
            uri="http://www.uni-paderborn.de/uppaal/0.4.0"
            class="de.uni_paderborn.uppaal.UppaalPackage">
      </package>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="uppaal"
            class="de.uni_paderborn.uppaal.util.UppaalResourceFactoryImpl">
      </parser>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/uppaal.genmodel"
            uri="http://www.uni-paderborn.de/uppaal/core/0.4.0"
            class="de.uni_paderborn.uppaal.core.CorePackage">
      </package>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/uppaal.genmodel"
            uri="http://www.uni-paderborn.de/uppaal/types/0.4.0"
            class="de.uni_paderborn.uppaal.types.TypesPackage">
      </package>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="types"
            class="de.uni_paderborn.uppaal.types.util.TypesResourceFactoryImpl">
      </parser>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/uppaal.genmodel"
            uri="http://www.uni-paderborn.de/uppaal/declarations/0.4.0"
            class="de.uni_paderborn.uppaal.declarations.DeclarationsPackage">
      </package>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="declarations"
            class="de.uni_paderborn.uppaal.declarations.util.DeclarationsResourceFactoryImpl">
      </parser>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/uppaal.genmodel"
            uri="http://www.uni-paderborn.de/uppaal/declarations/global"
            class="de.uni_paderborn.uppaal.declarations.global.GlobalPackage">
      </package>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="global"
            class="de.uni_paderborn.uppaal.declarations.global.util.GlobalResourceFactoryImpl">
      </parser>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/uppaal.genmodel"
            uri="http://www.uni-paderborn.de/uppaal/declarations/system"
            class="de.uni_paderborn.uppaal.declarations.system.SystemPackage">
      </package>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="system"
            class="de.uni_paderborn.uppaal.declarations.system.util.SystemResourceFactoryImpl">
      </parser>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/uppaal.genmodel"
            uri="http://www.uni-paderborn.de/uppaal/templates/0.4.0"
            class="de.uni_paderborn.uppaal.templates.TemplatesPackage">
      </package>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="templates"
            class="de.uni_paderborn.uppaal.templates.util.TemplatesResourceFactoryImpl">
      </parser>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/uppaal.genmodel"
            uri="http://www.uni-paderborn.de/uppaal/statements/0.4.0"
            class="de.uni_paderborn.uppaal.statements.StatementsPackage">
      </package>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="statements"
            class="de.uni_paderborn.uppaal.statements.util.StatementsResourceFactoryImpl">
      </parser>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/uppaal.genmodel"
            uri="http://www.uni-paderborn.de/uppaal/expressions/0.4.0"
            class="de.uni_paderborn.uppaal.expressions.ExpressionsPackage">
      </package>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.extension_parser">
      <parser
            type="expressions"
            class="de.uni_paderborn.uppaal.expressions.util.ExpressionsResourceFactoryImpl">
      </parser>
   </extension>
   <extension
         name=""
         point="org.eclipse.emf.ecore.generated_package">
      <package
            genModel="model/uppaal.genmodel"
            uri="http://www.uni-paderborn.de/uppaal/visuals/0.4.0"
            class="de.uni_paderborn.uppaal.visuals.VisualsPackage">
      </package>
   </extension>

</plugin>
