/.SegmentStateHandler.java._trace
/.TrainCurrentSegmentHandler.java._trace
/.TrainCurrentSpeedHandler.java._trace
/.TrainReferenceSpeedHandler.java._trace
/.TurnoutStateHandler.java._trace
/.SegmentControlHandler.java._trace
