[Unit]
Description=MoDeS3 Occupancy Detector Agent
After=syslog.target network.target

[Service]
ExecStart=/modes3/hu.bme.mit.inf.modes3.components.occupancyquery/bin/hu.bme.mit.inf.modes3.components.occupancyquery --addr root.modes3.intra --pubPort 1883 --id occupancyquery
Restart=always

[Install]
WantedBy=multi-user.target

