# Ignore generated java code in this project
/src/main/java/hu/bme/mit/inf/modes3/messaging/proto/messages/

# Gradle
# ------
.gradle
**/.gradle
**/build
**/buildSrc/build
**/subprojects/*/build
**/subprojects/docs/src/samples/*/*/build
**/subprojects/internal-android-performance-testing/build-android-libs

# IDEA
# ----
.idea
.shelf
**/*.iml
**/*.ipr
**/*.iws
**/buildSrc/*.iml
**/buildSrc/*.ipr
**/buildSrc/*.iws
**/buildSrc/out
**/out
**/subprojects/*/*.iml
**/subprojects/*/out

# Eclipse
# -------
*.classpath
*.project
*.settings
**/bin
**/xtend-gen
**/subprojects/*/bin
atlassian-ide-plugin.xml

# NetBeans
# --------
.nb-gradle
.nb-gradle-properties

# Vim
# ---
*.sw[op]

# Emacs
# -----
*~

# Textmate
# --------
.textmate

# Sublime Text
# ------------
*.sublime-*

# jEnv
# ----
.java-version

# OS X
# ----
.DS_Store

# HPROF
# -----
*.hprof

# Work dirs
# ---------
**/incoming-distributions
**/intTestHomeDir

# Logs
# ----
**/*.log

