[Unit]
Description=MoDeS3 BBB Agent
After=syslog.target network.target 

[Service]
ExecStartPre=/bin/bash -c "/bin/systemctl set-environment HOSTNAME=$(hostname)"
ExecStart=/modes3/hu.bme.mit.inf.modes3.components.trackelementcontroller/bin/hu.bme.mit.inf.modes3.components.trackelementcontroller --id $HOSTNAME --addr root.modes3.intra --port 1883
Restart=always

[Install]
WantedBy=multi-user.target
